body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main {
    margin-left: 300px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: #222;
    color: white;

    .sidebar-title {
        padding: 0px 20px;
    }

    .course {
        margin-top: 20px;

        .course-button {
            align-content: center;
            padding-left: 20px;
            height: 52px;

            background: repeating-linear-gradient(45deg,
                    rgba(173, 216, 230, 0.425) 0 8px,
                    rgba(0, 0, 0, 0.08) 8px 10px);
            border: 1px rgba(0, 0, 0, 0.08) solid;
        }

        .course-blocks {
            display: none;
        }

        &.open .course-blocks {
            display: block;
        }
    }
}