body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 240px;
    height: 100vh;

    padding: 20px;

    background: #222;
    color: white;
}

.sidebar h1 {
    margin-top: 0;
}

.course {
    margin-top: 20px;
    padding: 15px;

    background: #444;

    .course-blocks {
        display: none;
    }

    &.open .course-blocks {
        display: block;
    }
}

main {
    margin-left: 300px;
}
